<!DOCTYPE html>
<html lang="FR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/5/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>

    <title>Birthday Webapp</title>
</head>

<body class="d-flex align-items-center justify-content-center my-3">

    <div id="app" class="container border rounded p-3 mx-5 my-3">
        <h1 class="fs-2 text-center m-3">Mes anniversaires</h1>
        <div class="form-group m-3">
            <input type="text" v-model="searchTerm"  class="form-control rounded-pill" placeholder="Rechercher une personne"
                id="searchPersonText">
        </div>

        <div class="list-group list-person">
            <div v-for="(birthday, n) in filterByTerm">
                <a href="#" @click="showProfile(n) , showprofile = !showprofile"
                    class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <img :src="birthday.image">
                        <h5 class="mb-1 title-item">{{ birthday.name }}</h5>
                        <small>Dans {{ birthday.count }} jours</small>
                    </div>
                    <p class="date mb-1">{{ birthday.date }}</p>
                    <a class="close-link text-center text-decoration-none " @click="removePerson(n)">Supp</a>
                </a>
            </div>
        </div>

        <div class="d-grid gap-2 mt-3">
            <button v-on:click="showform = !showform" class="btn btn-lg btn-info btn-add m-3" type="button">ajouter un
                anniversaire</button>
        </div>

        <!--Formulaire ajout anniversaire-->

        <form class="form" :class="{displayform : showform}">
            <fieldset>
                <h3 class=" fs-4 text-center m-3">Ajouter un anniversaire</h3>
                <div class="form-group">
                    <label for="namePerson" class="col-sm-2 col-form-label">Nom</label>
                    <div class="col-sm-10">
                        <input v-model="newName" type="text" class="form-control rounded-pill"
                            placeholder="Saisissez un nom" id="namePerson">
                    </div>
                </div>
                <div class="form-group">
                    <label for="dateBirthday" class="col-sm-5 col-form-label">Date de naissance</label>
                    <div class="col-sm-10">
                        <input v-model="newDate" type="date" class="form-control rounded-pill"
                            placeholder="Saisissez une date de naissance" id="dateBirthday">
                    </div>
                </div>
                <div class="form-group">
                    <label for="photo" class="col-sm-5 col-form-label">Photo</label>
                    <div class="col-sm-10">
                        <input type="file" @change="uploadImage()" class="form-control rounded-pill" placeholder="Saisissez une url d'image"
                            id="photo">
                    </div>
                </div>
            </fieldset>

            <button class="row btn btn-info btn-form my-3 rounded-pill col-sm-10 text-center" type="button"
                v-on:click="addPerson(newName,newDate, newImage)">Ajouter</button>

            <a class="row close-link text-center text-decoration-none" v-on:click="showform = !showform">Fermer</a>
        </form>

        <!-- Profil -->
        <div class="profile" :class="{displayprofil : showprofile}">
            <h1 class="fs-2 text-center m-3">Profil</h1>
            <p>{{profilName}}</p>
            <p>{{profilDate}}</p>

            <div class="form-group m-3">
                <input type="text" v-model="searchGift"class="form-control rounded-pill" placeholder="Rechercher un cadeau" id="searchGift">
            </div>
            
            <!-- <ul class="list-group">
                <li  v-for="(value, n) in profilGift" class="list-group-item d-flex justify-content-between align-items-center">
                  <span>{{ value.namegift }}</span>
                  <span>{{ value.yeargift }}</span>
                  <a class="close-link text-center text-decoration-none " @click="removeGift(n)">Supp</a>                  
                </li>
            </ul> -->

            <ul class="list-group">
                <li  v-for="(value, n) in filterByGift" class="list-group-item d-flex justify-content-between align-items-center">
                  <span>{{ value.namegift }}</span>
                  <span>{{ value.yeargift }}</span>
                  <a class="close-link text-center text-decoration-none " @click="removeGift(n)">Supp</a>                  
                </li>
            </ul>
            <a class="row close-link text-center text-decoration-none"
                v-on:click="showprofile = !showprofile">Retour</a>

            <div class="d-grid gap-2 mt-3">
                <button v-on:click="showformgift = !showformgift" class="btn btn-lg btn-info btn-add m-3"
                    type="button">ajouter un
                    cadeau</button>
            </div>
        </div>

        <!-- Formulaire ajout cadeau -->
        <form class=" form" :class="{displayform: showformgift}">
            <fieldset>
                <h3 class=" fs-4 text-center m-3">Ajouter un cadeau</h3>
                <div class="form-group">
                    <label for="yearGift" class="col-sm-2 col-form-label">Année</label>
                    <div class="col-sm-10">
                        <input v-model="newYearGift" type="text" class="form-control rounded-pill"
                            placeholder="Saisissez une année" id="yearGift">
                    </div>
                </div>
                <div class="form-group">
                    <label for="gift" class="col-sm-5 col-form-label">Cadeau</label>
                    <div class="col-sm-10">
                        <input v-model="newGift" type="text" class="form-control rounded-pill"
                            placeholder="Saisissez le nom du cadeau" id="gift">
                    </div>
                </div>
            </fieldset>

            <button class="row btn btn-info btn-form my-3 rounded-pill col-sm-10 text-center" type="button"
                v-on:click="addGift(newYearGift, newGift )">Ajouter</button>

            <a class="row close-link text-center text-decoration-none"
                v-on:click="showformgift = !showformgift">Fermer</a>
        </form>


    </div>
    <script src="app.js"></script>

</body>
</html>